html, body {
  height: 100%; 
  margin: 0;    
}

.container {
  display: flex;
  margin-top: 8%;
  flex-direction: column; 
  min-height: 100vh;   
}

.feedback-container {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-container h1 {
  text-align: center;
}

.feedback-container form {
  display: flex;
  flex-direction: column;
}

.feedback-container input,
.feedback-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback-container button {
  padding: 10px;
  background-color: #006B99;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-container button:hover {
  background-color: #F68B1F;
}

.feedback-list {
  list-style: none;
  padding: 0;
}

.feedback-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.previous-feedbacks {
  margin-top: 20px;
  margin-bottom: 1%;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.previous-feedbacks h2 {
  margin-top: 0;
}

.feedback-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px; 
}

.feedback-item {
  background-color: #ffffff; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.feedback-item img {
  max-width: 100px; 
  height: auto;
  margin-bottom: 10px;
}

.feedback-item strong {
  margin-top: 10px;
}

.feedback-item p {
  margin: 5px 0;
}

.delete-button {
  align-self: flex-end; 
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #e60000;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: lightgray;
}

.star.filled {
  color: gold;
}

.container-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 216, 230, 0.9); 
  padding: 50px;
  margin-bottom: 1%;
  text-align: center;
  border-radius: 10px; 
}

.container-promo h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 5rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.container-promo span {
  font-weight: bold;
  font-size: 1rem;
  max-width: 600px;
}

.container-promo svg {
  color: yellow; 
}
