body {
  margin: 0;
  padding: 0;
  background-image: url('/senac-bg-chat.webp'); /* Caminho da imagem de fundo */
  background-position: cover; /* Centraliza a imagem */
  background-repeat: repeat;
  font-family: Arial, sans-serif;}

.home-container {
  position: relative; /* Necessário para o layout */
}

.info-section {
  text-align: center; /* Centraliza o texto */
  margin: 20px; /* Margem para os textos */
  margin-bottom: 40px; /* Adiciona espaço abaixo da seção de informações */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Colunas flexíveis, começando de 300px */
  gap: 20px; /* Espaçamento entre os itens do grid */
  padding: 20px; /* Espaçamento interno do grid */
  width: 100%; /* Garante que o grid ocupe 100% da largura */
  justify-content: center; /* Centraliza o grid horizontalmente */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  margin-top: 20px; /* Espaço entre o grid e a seção anterior */
}


.style-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: white; /* Fundo branco para os cartões */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave nos cartões */
  display: flex; /* Usa flexbox para o layout interno */
  flex-direction: column; /* Direciona os itens na coluna */
  justify-content: space-between; /* Distribui o espaço entre os itens */
  height: 100%; /* Garante que o cartão ocupe toda a altura disponível */
}

/* Estilo para os botões no fundo do card */
.match-button {
  background-color: #8e24aa; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  padding: 10px; /* Espaçamento interno do botão */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 100%; /* Largura total do botão */
  margin-top: auto; /* Empurra o botão para a parte inferior */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.match-button:hover {
  background-color: #7b1fa2; /* Cor do botão ao passar o mouse */
}
