.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #006B99;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .menu {
    list-style: none;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 10%;
  }
  
  .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .menu li a:hover {
    color: black;
  }

  
  @media (max-width: 768px) {
    .menu {
      gap: 8%;
    }
    .icon {
      display: none;
    }
  }